
body {
    color: #707070;
}

h5, h4, h6 {font-family: 'Roboto', sans-serif;}
p {font-family: 'Nunito', sans-serif; font-size:0.9em;}

.profile {padding-left:1rem; padding-right: 1rem;}
.photo {width:100px;}
.location {width:10px; height: fit-content; padding-top: 5px;}
.btn-pink {background-color: #EA4C89;}
.btn:hover {background-color: #ea4c897a; border-color: transparent;}
.btn-lightpink {background-color: #F7D7E3;}
.text-pink {color:#EA4C89;}
a {text-decoration: none;}
.chevron {width: 12px; height: fit-content; padding-bottom: 7px;}
.tools {width:30px;}
.skill {font-size:0.7em;}
.shadow {box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;}
.shadow-fade {box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;}

.card-title {font-family: 'Roboto', sans-serif; font-size:0.8em; height:2.5em;}
.nav{
--bs-link-color: #ffffff;
--bs-nav-pills-link-active-bg: #000000;
}
.nav-link {color: #949494;}
.nav-pills .nav-link {border-radius: var(--bs-border-radius-pill)!important;}
.nav-link:focus, .nav-link:hover {color:#ffffff; background-color: lightgrey;}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {background-color: black; color:#ffffff;}



@media (min-width: 576px) {
 .profile {padding-left:0; padding-right: 2rem;}
}